/* Aside y nav */

a {
    text-decoration: none;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-title {
    font-weight: 700;
}

.navbar-nav {
    height: 90%;
}
.nav-item {
   align-self: center;
    margin-right: 10px;
}
.nav-item:nth-child(2) {
    background-color: white;
    border-radius: 50px;
    padding: 5px 15px;
   
}
.item-anchor {
    display: inline-block;
    color: white;
    padding: 0 20px;
    
}
.nav-item:nth-child(2) .item-anchor {
    color: #000000;
   height: 100%;
    
}


.item-anchor:nth-child(2) {

}

.aside-nav {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.5);
}

.nav-dark-color {
    background-color:  #101010;
}

/* Aside lateral */



.list-item {
    padding: 10px;
}
.aside-list .list-item:nth-child(3) {
    margin-bottom: 15px;
}

.list-item:hover{
    background-color: #282828;
}

.footer {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(175,41,144,1) 0%, rgba(81,154,244,1) 100%);
    padding: 0 20px;
    justify-content: space-between;
}
.footer-text {
    display: flex;
    flex-direction: column;
    color: white;
}
.footer-text p {
    flex-grow: 3;
    margin-bottom: 0;
    text-align: justify;
    margin-right: 5px;
}
.btn-container {
    flex-grow: 1;
    max-width: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    text-align: center;
    
}
.btn-container a {
   font-size: 14px;
    border-radius: 20px;
    color: #519AF4;
    font-weight: bold;

}